<% if user_signed_in? %>
    <% if current_user != user %>
        <% if user.followed_by?(current_user) %>
            <%= button_to user_relationships_path(user),class:"button is-success",method: :delete, remote: true do %>
                <span>フォロー済み</span>
            <% end %>
        <% else %>
            <%= button_to user_relationships_path(user), class:"button is-success",method: :post, remote: true do %>
                <span>フォローする</span>
            <% end %>
        <% end %>
    <% end %>
<% end %>