<% if user_signed_in? %>
    <% if current_user != product.user %>
        <% if product.user.followed_by?(current_user) %>
            <p><%= button_to 'フォロー済み', user_relationships_path(product.user.id), class:"button is-success", method: :delete %></p>
        <% else %>
            <p><%= button_to "フォローする", user_relationships_path(product.user.id), class:"button is-success",method: :post %></p>
        <% end %>
    <% end %>
<% else %>
<% end %>